*{
    box-sizing: border-box;
    outline: 2px solid red;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculator{
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 20px;
}

.display{
    width: 100%;
    padding: 20px;
    text-align: right;
    font-size: 2rem;
    min-height: 80px;
}

.keypad{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 10px;
    width: 100%;
    margin-top: 10px;
}

button {
    padding: 20px;
    font-size: 1.2rem;
}

.span{
    grid-column: span 2;
}

.wide{
    grid-column: span 4;
}